@font-face {
    font-family: Norse-Bold;
    src: url(./assets/Norse-Bold.otf);
}

* {
    font-family: Roboto, sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: black;
}

h1 {
    font-size: 24px;
}

.content {
    margin: auto;
    height: 100%;
    display: flex;
    width: 70%;
}

.banner {
    width: 60%;
    background-image: url("./assets/banner-photo.webp");
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.banner-title-background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 150px;
    margin-top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-title {
    color: white;
    font-family: Norse-Bold, 'Times New Roman', Times, serif;
    font-size: 100px;
}

.banner-title-image {
    height: 125px;
    width: 100px;
}

.photo-credit {
    color: lightgray;
    font-weight: lighter;
    font-size: 14px;
}

a {
    color: lightgray;
}

.main-section {
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.top-section {
    height: 25%;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-right: 100px;
}

.bottom-section {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-section {
    width: 100%;
    height: 30%;
    background-color: white;
    padding-left: 50px;
    margin-left: -50px;
    /* box-sizing: border-box; */
}

form {
    display: flex;
    flex-wrap: wrap;
    height: 70%;
    column-gap: 50px;
}

label {
    color: darkslategrey;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}

input {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: solid 1px #E5E7EB;
}

button {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: #596D48;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

div.row {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
}

p {
    font-weight: bold;
    font-size: 18px;
}

.log-in {
    color: #596D48;
}

.form-heading {
    color: #4b4b4b;
    padding-bottom: 15px;
}